.shopping-cart-logo-container {
    position: absolute;

    right: 1.5em;
    top: 1em;

    z-index: 2;
}

.shopping-cart-logo {
    width: 2.5em;
    cursor: pointer;

}

.shopping-cart {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;

    z-index: 1;
}