img {
    width: 100px;
}
.menu-container {
        margin: auto;
        width: 80%;
        border: 3px solid black;
        padding: 10px;
}

.dish-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    border: 3px solid grey;
}

.dish-card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.dish-card > .dish-name {
    margin-bottom: .25rem; 
}

.dish-card > .dish-dsc {
    font-size: .8rem;
}

/* vi vill ändra enehet via javascript https://medium.com/@speir.wang/how-to-change-pseudo-element-properties-with-javascript-eb37b9fd3157*/
.dish-price::after {
    content: "kr";
}

/*Tillhör sökfunktionen*/
.hidden {
    display: none;
 }



