* {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
    line-height: 1.3em;
    letter-spacing: 0.03em;

    color: black;
}

button {
    color: black;
}

body {
    position: relative;
    background: rgba(0,0,0,0.5) url(assets/HDbackgroundMap.jpg) fixed center center/ cover;
    background-blend-mode: darken;
    width: 100%;
}

.front-page-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1em;
    margin-top: 0.5em;
}

.front-page-logo h1,
.front-page-logo p {
    color: white;
}

.flag-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.flags {
    width: 75px;
    height: 75px;

    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;

    cursor: pointer;
}

.front-page-header {
    font-size: 2.6em;
}

.front-page-logo p {
    font-size: 1.2em;
}

.front-page-featured-header {
    color: white;
    margin-top: 1.5em;
}

.menu-page-container,
.front-page-container {
    text-align: center;
}

.featureCard-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 3em;
    width: 220px;
    height: 220px;
}

.featureCard-body p {
    color: white;
}

.featureCardImage {
    width: 220px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;

    margin: 1.8em 0em 1em 0em;
}

.nav-div {
    z-index: 5;
}

.nav-main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 1.8em;
    background-color: rgb(255, 255, 255);
}

.nav-main-links{
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    font-size: 23px;
    font-style: bold;
    font-family: 'Source Serif Pro';
    font-weight: 400;
}

.active{
    color: rgb(255, 0, 0);
}

/* .nav-main-links:active{
    border-bottom: 3px solid rgb(59, 59, 255);;
    color: rgb(59, 59, 255);
} */


.front-page-featured {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*
.card-body {
    width: 100px;
    height: 100px;
    padding: 5em;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.card-body {
    background-image: linear-gradient(to bottom, #717681, #5f5a64, #4b4045, #342929, #1c1510);
    background:rgba(106, 93, 93, 0.4);
}
    

.card-body p {
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}

.cardImage{
    width: 100px;
    height: 100px;
}
*/

/* STYLE FÖR SEARCH OCH CARDS mvh Casandra*/

img {
    width: 100px;
}

.menu-container {
    margin: auto;
    width: 80%;
    /*border: 3px solid black;*/
    padding: 10px;
}

.dish-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    /* border: 3px solid grey; */
}

.dish-card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.dish-card > .dish-name {
    margin-bottom: .25rem; 
}

.dish-card > .dish-dsc {
    font-size: .8rem;
}

/* vi vill ändra enehet via javascript https://medium.com/@speir.wang/how-to-change-pseudo-element-properties-with-javascript-eb37b9fd3157*/
.dish-price::after {
    content: "kr";
}

/*Tillhör sökfunktionen*/
.hidden {
    display: none;
 }
/* STYLE FÖR SEARCH OCH CARDS mvh Casandra ^*/